[submodule "Support Code/submodules/swerve"]
	path = Support Code/submodules/swerve
	url = https://eisd-robotics.eanesisd.net/2468/swerve
	branch = dev
[submodule "Support Code/submodules/bordeaux-pathinator"]
	path = Support Code/submodules/bordeaux-pathinator
	url = https://eisd-robotics.eanesisd.net/2468/bordeaux-pathinator
	branch = dev
